:root {
  --primery-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --animation:250ms cubic-bezier(0.4, 0, 0.2, 1);;
}




body {
  background-color: #ffffff;
  color: var(--primery-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

  }
  img{
    display: block;
  }

    /* header */
.logo-logo {
  color: var(--secondary-color);
  transition: var(--animation);
}
.logo-logo:hover,
.logo-logo:focus {
  color: var(--accent-color);
}

.logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* padding: 32px 0; */
  display: block;
 
}

.header-page{
  border-bottom: 1px solid #ECECEC;
}

  .header-page .conteiner{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
 
}

.nav-head{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

/* site-nav list */

.site-nav .link {
  color: var(--secondary-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 34px 0;
  display: block;
  position: relative;
  transition: var(--animation);
 

}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
 
}
.site-nav li+li {
  margin-left: 50px;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
  
}
 .site-nav .link.current {
    color: var(--accent-color);
    text-decoration: none;
    padding: 34px 0;
    display: block;
    position: relative;
     }

    .site-nav .link.current:after{
          content: "";
          position: absolute;
          border-radius: 2px;
          width: 100%;
          height: 4px;
          background: var(--accent-color);
          bottom: 0;
          left: 0;
         }
   /* auth-nav */

.auth-nav .link {
  color: var(--primery-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 0;
  position: relative;
  transition: var(--animation);
}


.auth-nav{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
 
}
.link{
  display: flex;
  align-items: center;
  
  
}
.link.phone{
  display: flex;
  align-items: center;
}
.link:hover,
.link:focus{
  color: var(--accent-color);
}
.auth-email{
  margin-right: 10px;
  fill: currentColor;
}
.auth-email:hover,
.auth-email:focus {
  fill:currentColor;
}
.auth-phone{
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav li:last-child {
  margin-left: 50px;
}
.auth-nav li {
  margin-left: 0;
}

/* section-main */
.section-main{

 background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
url(../img/fon.jpg);
background-repeat: no-repeat;

} 

.section-main { 
  max-width: 1600px;
  max-height: 600px;
  background-color:#C4C4C4;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-bottom: 0; 
}
 


.white {
  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
 
}
.white{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
}

.button {
    min-width: 200px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color);
    position: relative;
    transition: var(--animation);
  
  
  
}
.button:hover,
.button:focus{
  background-color: #188CE8;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms linear, visibility 500ms linear;
 z-index: 10;

}

.backdrop.is-hidden {
  opacity: 0;
   pointer-events: none;
   

}

.modal {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
transition: transform 500ms linear;


}
.backdrop.is-hidden .modal{
  
transform: translate(-50%, -50%) scale(0) rotate(45deg);
}



.modal-button{
  position: absolute;
  width: 30px;
  height: 30px;
 top: 8px;
right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
   border-radius: 50%;

}

.close-icon{
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
  
  width: 11px;
  height: 11px;
}
.close-icon:hover,
.close-icon:focus{
  fill: var(--accent-color);
  transform: rotate(0.5turn);
}

      /* form */
            .model-title {
              margin: 0;
              padding: 0;
              font-weight: 700;
              margin-bottom: 12px;
              font-size: 20px;
              line-height: 1.15;
              text-align: center;
              letter-spacing: 0.03em;
              color: var(--secondary-color);
            }

      .form{
        display: flex;
        flex-direction: column;
        padding: 40px;
      }
     
         .form-label {
         display: block;
          text-align: left;
        
          
          }
          .form-input{
            padding-left: 42px;
            height: 40px;
            width: 100%;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            outline: none;
            transition: border-color var(--animation);
            
          }
       .form-input:focus{
            border-color: var(--accent-color);
          }
      .form-input:focus +.form-img{
        fill: var(--accent-color);
      }
            
          
          .form-w-img{
            position: relative;
          }
          .form-img{
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            transition: backround-color var(--animation);
            }

          
          
          .form-label:not(:last-child) {
          margin-bottom: 10px;
          }    
          .form-name {
         display: block;
         margin-bottom: 4px;
         text-align: left;
          
         font-size: 12px;
         line-height: 1.16;
         letter-spacing: 0.01em;

          }
          .form-input.form-textarea{
            width: 100%;
            height: 120px;
            resize: none;
            margin-bottom: 20px;
            padding: 10px 16px;
            outline: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border-color var(--animation);

          }
          .form-textarea::placeholder {
           color: rgba(117, 117, 117, 0.5);
          }
          .form-textarea:focus {
            border-color: var(--accent-color);
          }
          .form-text{
            display: block;
            margin-bottom: 5px;
            text-align: left;
            font-weight: 400;
            font-size: 12px;
           }  
          
           .check-form{
            display: flex;
            justify-content: center;
              align-items: center;
              margin-bottom: 30px;
           }
           .check-input{
            appearance: none;
           }
           .check-input:checked + .check-box{
            background-color: var(--accent-color);
            background-image: url(../img/check.svg);
            border: none;
           }
         .check-box{
          margin-right: 8px;
          margin-left: 12px;
          width: 15px;
          height: 15px;
          border: 2px solid black;
          border-radius: 4px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
         

         }
                 .checkbox-text{
                  text-align: left;
                  font-weight: 400;
                    font-size: 14px;
                    line-height: 1.71;
                    color: var(--primery-color);
                    letter-spacing: 0.03em;
                 }
         
      
        .form-link {
        color: var(--accent-color);
        }
     
  .form-button {
  font-weight: 700;
  border: none;
  min-width: 200px;
  margin: 0 auto;
   display: inline-block;
  border-radius: 4px;
  padding: 10px 55px;
  text-align: center;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  transition: var(--animation)
}
.form-button:hover,
.form-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section-home */
.sect-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
   height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  
  }



.skils{
  font-size: 0;
}
.section-home{
  padding-top: 94px;
  /* padding-bottom: 94px; */
  justify-content: space-between;


  
}
.title-text{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.title-text li{
  width: 270px;
}
.title-text li+li{
margin-left: 30px;
}


.title {
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  
  
}
.title-name {
  color: var(--secondary-color);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.text {
  color: var(--primery-color);
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  
 

}
.profess {
    color: var(--primery-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
    margin-top: 0;
}
/* section-info */
.section-info{
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
 
 
  }
    .picture{
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
position: relative;
    }
   
    .pic-title{
      bottom: 0;
      padding: 27px 0px;
      margin: 0;
      width: 370px;
     position: absolute;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--white-color);
     background: rgba(47, 48, 58, 0.8);
    }

.bold {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  
 
 
}
/* comand */
.comand-under{
  display: flex;
  margin: 0;
  padding: 0 32px;
  justify-content: space-between;
  list-style: none;
}
.comand-under :not(:last-child){
  margin-right: 10px;
}



.comand-under li{
    padding: 0;
    box-shadow: none;
    width: 44px;
    height: 44px;
}
.button-icon{
     fill: var(--white-color);
      display: flex;
      padding: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: none;
     justify-content: center;
      align-items: center;
      position: relative;
      transition: var(--animation);
}
      .comand-under .button-icon{
        fill: #AFB1B8;
      }
           .comand-under .button-icon:hover,
           .comand-under .button-icon:focus {
              background-color: var(--accent-color);
            }
      
                .button-icon:hover,
                .button-icon:focus {
                  background-color: var(--logo-focus-color);
                }
        
                .button-icon:hover .button-instagram,
                .button-icon:hover .button-twitter,
                .button-icon:hover .button-facebook,
                .button-icon:hover .button-linkedin {
                  fill: var(--white-color);
                  
                }
        
                .button-icon:focus .button-instagram,
                .button-icon:focus .button-twitter,
                .button-icon:focus .button-facebook,
                .button-icon:focus .button-linkedin {
        
                  fill: var(--white-color);
                 
                }
 .sect{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;;
} 
.comand .block{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
 
  }
  .comand-prof {
 padding: 32px 0;
  }
  .border-radius{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
.title-name{
  padding: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

/* client section */

.clients {
  padding: 94px 0;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.button-clien {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.button-clien li {
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
}

.button-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #AFB1B8;
  position: relative;
  transition: var(--animation);

}

.button-group {
  fill: currentColor;
  width: 106px;
  height: 60px;

}

.button-user:hover,
.button-user:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* footer */
.under{
  display: flex;
  margin-left: 70px;
  padding-left: 0;
  margin-top: 20px;
}
.under .button-icon{
      padding: 0;
      background: rgba(255, 255, 255, 0.1);
      display: flex;
      padding: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: none;
      justify-content: center;
      align-items: center;
}
.under li :hover,
.under li :focus{
  background-color: var(--accent-color);
}


.footer-block .conteiner{
  display: flex;
  align-items: baseline;
}
.foot-title{
  font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 70px;
   margin-bottom: 0;
   margin-top: 0;
}
.under li+li{
    margin-left: 10px;
    border: none;
}


.footer-block {
background-color: var(--secondary-color);
padding-top: 60px;
padding-bottom: 60px;


  
}
.footer-block {
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  
}


.logo-foot {
  color: var(--accent-color);
  margin-right: 0;
  text-decoration: none;
}
.logo-log{
  color: var(--white-color); 
}

.address{
  padding-left: 0;
}
    .address :not(:first-child) :hover,
    .address :not(:first-child) :focus{
    color: var(--accent-color);
  }

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
}
.address-link-wh{
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
                  /* form */
.footer-form{
  margin-left: 93px;
  

}
.footer-form h3{
  margin-top: 72px;
  text-align: left;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
}

.footer-wrap{
  display: flex;
}
/* .footer-wrap :hover,
.footer-wrap :focus{
  background-color: var(--accent-color); */


.footer-input{
  font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 12px;
    width: 358px;
     height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-color);
border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

 .footer-submit-icon{
  background-color:var(--accent-color);
  border: none;
  min-width: 200px;
  height: 50px;
  padding: 10px 29px;
  font-style: normal;
  font-weight: 700;
  margin-left: 12px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--animation);
 
}
.footer-icon{
  position: absolute;
  top: 13px;
  right: 28px;
  
}
.footer-sub{
  background-color: transparent;
  color: var(--white-color);
  width: 109px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  font-size: 1.88;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  
}
.footer-submit-icon:hover,
.footer-submit-icon:focus{
background-color: #188CE8;
}


         /* portfolio */ 



.button-list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
    cursor: pointer;
}
.button-second{
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: var(--animation);
  
}


.button-second:hover,
.button-second:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.button-second.current{
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 6px 22px;
  border-radius: 4px;
}
.links {
  color: var(--primery-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.6;
}

.content {
  font-size: 0;
}
.title-name{
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.mega-content{

  padding-bottom: 94px;
  padding-top: 94px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.button-list li+li{
  margin-left: 8px;
}

.img-portfolio{
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
}
.img-portfolio li{
  margin-right: 30px;
  margin-bottom: 30px;
}

.img-portfolio li:hover,
.img-portfolio li:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.img-portfolio :nth-child(3n){
  margin-right: 0;
}
.img-portfolio :nth-last-child(-n+3){ 
  margin-bottom: 0;
}

.port-list a{
text-decoration: none;
}

.contein-txt{
  padding: 20px 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  /* border-top: none; */
}
.boldtext {
  /* padding-top: 20px; */
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;

}
img{
  border: none;
}
.txt-title {
  margin:0 ;
  margin-top: 4px;
  color: var(--primery-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-block {
  position: relative;
   overflow: hidden;
}

.text-block {
  display: inline-block;
  position: absolute;
   width: 100%;
  height: 100%;
  bottom: -1px; 
   left: 0; 
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
}

.port-list:hover .text-block,
.port-list:focus .text-block{
transform: translateY(0);
bottom: 0;
}





