:root {
  --primery-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}




body {
  background-color: #ffffff;
  color: var(--primery-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

  }
  img{
    display: block;
  }

    /* header */
span {
  color: var(--secondary-color);
}
span:hover,
span:focus {
  color: var(--accent-color);
}

.logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding: 32px 0;
  display: block;
 
}

.header-page{
  border-bottom: 1px solid #ECECEC;
}

  .header-page .conteiner{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
 
}

.nav-head{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

/* site-nav list */

.site-nav .link {
  color: var(--secondary-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
}
.site-nav li+li {
  margin-left: 50px;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
  
}
 .site-nav .link-current {
    color: var(--accent-color);
    text-decoration: none;
    padding: 32px 0;
    display: block;
    
 }
   /* auth-nav */

.auth-nav .link {
  color: var(--primery-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 0;
  /* display: block; */
}


.auth-nav{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
 
}
.link{
  display: flex;
  align-items: center;
}
.link.phone{
  display: flex;
  align-items: center;
}
.link:hover,
.link:focus{
  color: var(--accent-color);
}
.auth-email{
  margin-right: 10px;
  fill: currentColor;
}
.auth-email:hover,
.auth-email:focus {
  fill:currentColor;
}
.auth-phone{
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav li:last-child {
  margin-left: 50px;
}
.auth-nav li {
  margin-left: 0;
}

/* section-main */
.section-main{

 background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
url(../img/fon.jpg);
background-repeat: no-repeat;

} 

.section-main { 
  max-width: 1600px;
  max-height: 600px;
  background-color:#C4C4C4;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-bottom: 0; 
}
 


.white {
  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
 
}
.white{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
}

.button {
    min-width: 200px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color);
  
  
  
}
.button:hover,
.button:focus{
  background-color: #188CE8;
}
/* section-home */
.sect-icon{
  padding: 25px 100px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  
  }



.skils{
  font-size: 0;
}
.section-home{
  padding-top: 94px;
  /* padding-bottom: 94px; */
  justify-content: space-between;


  
}
.title-text{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.title-text li{
  width: 270px;
}
.title-text li+li{
margin-left: 30px;
}


.title {
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  
  
}
.title-name {
  color: var(--secondary-color);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.text {
  color: var(--primery-color);
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  
 

}
.profess {
    color: var(--primery-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
    margin-top: 0;
}
/* section-info */
.section-info{
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
 
 
  }
    .picture{
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
    }

.bold {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  
 
 
}
/* comand */
.comand-under{
  display: flex;
  margin: 0;
  padding: 0 32px;
  justify-content: space-between;
  list-style: none;
}
.comand-under :not(:last-child){
  margin-right: 10px;
}



.comand-under li{
    padding: 0;
    box-shadow: none;
    width: 44px;
    height: 44px;
}
.button-icon{
     fill: var(--white-color);
      display: flex;
      padding: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: none;
     justify-content: center;
      align-items: center;
}
      .comand-under .button-icon{
        fill: #AFB1B8;
      }
           .comand-under .button-icon:hover,
           .comand-under .button-icon:focus {
              background-color: var(--accent-color);
            }
      
                .button-icon:hover,
                .button-icon:focus {
                  background-color: var(--logo-focus-color);
                }
        
                .button-icon:hover .button-instagram,
                .button-icon:hover .button-twitter,
                .button-icon:hover .button-facebook,
                .button-icon:hover .button-linkedin {
                  fill: var(--white-color);
                  
                }
        
                .button-icon:focus .button-instagram,
                .button-icon:focus .button-twitter,
                .button-icon:focus .button-facebook,
                .button-icon:focus .button-linkedin {
        
                  fill: var(--white-color);
                 
                }
 .sect{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;;
} 
.comand .block{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
 
  }
  .comand-prof {
 padding: 32px 0;
  }
  .border-radius{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
.title-name{
  padding: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

/* client section */

.clients {
  padding: 94px 0;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.button-clien {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.button-clien li {
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
}

.button-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #AFB1B8;

}

.button-group {
  fill: currentColor;
  width: 106px;
  height: 60px;

}

.button-user:hover,
.button-user:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* footer */
.under{
  display: flex;
  margin-left: 70px;
  padding-left: 0;
  margin-top: 20px;
}
.under .button-icon{
      padding: 0;
      background: rgba(255, 255, 255, 0.1);
      display: flex;
      padding: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: none;
      justify-content: center;
      align-items: center;
}
.under li :hover,
.under li :focus{
  background-color: var(--accent-color);
}


.footer-block .conteiner{
  display: flex;
}
.foot-title{
  font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 70px;
   margin-bottom: 0;
}
.under li+li{
    margin-left: 10px;
    border: none;
}


.footer-block {
background-color: var(--secondary-color);
padding-top: 60px;
padding-bottom: 60px;


  
}
.footer-block {
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  
}


.logo-foot {
  color: var(--accent-color);
  margin-right: 0;
  text-decoration: none;
}
.logo-log{
  color: var(--white-color); 
}

.address{
  padding-left: 0;
}
    .address :not(:first-child) :hover,
    .address :not(:first-child) :focus{
    color: var(--accent-color);
  }

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
}
.address-link-wh{
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}




/* portfolio */




.button-list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
    cursor: pointer;
}
.button-second{
  padding: 6px 22px;
  border: none;
}


.button-second:hover,
.button-second:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.button-second.current{
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 6px 22px;
  border-radius: 4px;
}
.links {
  color: var(--primery-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.6;
}

.content {
  font-size: 0;
}
.title-name{
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.mega-content{

  padding-bottom: 94px;
  padding-top: 94px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.button-list li+li{
  margin-left: 8px;
}

.img-portfolio{
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
}
.img-portfolio li{
  margin-right: 30px;
  margin-bottom: 30px;
}

.img-portfolio li:hover,
.img-portfolio li:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.img-portfolio :nth-child(3n){
  margin-right: 0;
}
.img-portfolio :nth-last-child(-n+3){
  margin-bottom: 0;
}
.contein-txt{
  padding: 20px 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.boldtext {
  /* padding-top: 20px; */
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 0;

}
img{
  border: none;
}
.txt-title {
  margin-top: 4px;
  color: var(--primery-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}






