:root {
  --primery-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}




body {
  background-color: #ffffff;
  color: var(--primery-color);
  font-family: roboto, sans-serif;
}

ul {
  list-style: none;
}
.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

    /* header */
span {
  color: var(--secondary-color);
}
span:hover,
span:focus {
  color: var(--accent-color);
}

.logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
 
}

  

.header-page .conteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
}
.nav-head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* site-nav list */

.site-nav {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

}
.link{
color: var(--secondary-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.site-nav{
  display: flex;
  margin: 0;
  bottom: 0;
}
.site-nav li+li{
  margin-left: 50px;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
  
}
 .link-current {
    color: var(--accent-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
 }



.auth-nav{
  display: flex;
  margin: 0;
  bottom: 0;
 ;
}
.auth-nav :hover,
.auth-nav :focus {
  color: var(--accent-color);
}
.link-tel {
  color: var(--primery-color);
  font-family: 'Roboto',sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0;

}

.link-mail{
  color: var(--primery-color);
  font-family: 'Roboto',sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

}
.link-mail{
  margin-right: 50px;
}
/* section-main */

.section-main {
  background-color: #2f303a;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  margin-bottom: 94px;
  
 

}
.white {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}
.white{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
}

.button {
    min-width: 200px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color);
  
  
  
}
.button:hover,
.button:focus{
  background-color: #188CE8;
}
/* section-home */

.skils{
  font-size: 0;
}
.section-home{
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: space-between;


  
}
.title-text{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.title-text li{
  width: 270px;
}
.title-text li+li{
margin-left: 30px;
}


.title {
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  
}

.text {
  color: var(--primery-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  
 

}
.profess {
    color: var(--primery-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}
/* section-info */
.section-info{
  margin: 0;
 
 
  }
    .picture{
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
    }

.bold {
  margin-top: 94px;
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  
 
 
}
/* comand */
 .sect{
  padding-bottom: 94px;
} 
.comand .block{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  }
    .comand .block li+li{
      margin-left: 30px;
    }
/* footer */


.footer-block {
background-color: var(--secondary-color);
padding-top: 60px;
padding-bottom: 60px;
  
}
.footer-block {
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-foot {
  color: var(--accent-color);
  margin-right: 0;
  text-decoration: none;
}
.logo-log{
  color: var(--white-color); 
}
/* .logo-foot .logo-log{
  text-decoration: none;
} */
.address{
  padding-left: 0;
}
  

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
}
.address-link-wh{
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
/* header */



/* portfolio */
.button-second {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
}
.button-second:hover,
.button-second:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.button-second.current{
  color: var(--white-color);
  background-color: var(--accent-color);
}
.links {
  color: var(--primery-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.6;
}
.boldtext {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.txt-title {
  margin: 0;
    color: var(--primery-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}
.content {
  font-size: 0;
}
.title-name{
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.mega-content{
  margin-top: 94px;
  margin-bottom: 94px;
}
.button-list{
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.button-list li+li{
  margin-left: 8px;
}

.img-portfolio{
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
}
.img-portfolio li{
  margin-right: 30px;
  margin-bottom: 30px;
}
.img-portfolio :nth-child(3n){
  margin-right: 0;
}
.img-portfolio :nth-last-child(-n+3){
  margin-bottom: 0;
}
.contein-txt{
  padding: 20px 24px;
}







