.clients {
  padding: 60px 15px;

  & h2 {
    margin-bottom: 30px;
  }
}

.button-clien {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .button-clien {
    grid-template-columns: repeat(3, auto);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-clien {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .button-clien {
    display: flex;
    justify-content: space-between;
  }

  .button-clien li {
    width: 170px;
    height: 92px;
  }
}

.button-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 92px;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--logo-focus-color);
    color: var(--logo-focus-color);
  }
}

.button-group {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
