.button-list {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.button-second {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition: var(--animation);

}


.button-second:hover,
.button-second:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.button-second.current {
    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 6px 22px;
    border-radius: 4px;
}
.button-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
}

.button-list li+li {
    margin-left: 8px;
}
.links {
    color: var(--primery-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.6;
}