@media screen and (max-width: 767px) {
  .auth-nav .link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav .link {
    display: block;
    color: var(--primery-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0;
    position: relative;
    transition: var(--animation);
  }
  .link.phone {
    margin-top: 10px;
  }

  .auth-email {
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
}

.auth-phone {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .link {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .link.phone {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .auth-nav li:last-child {
    margin-left: 50px;

    & li {
      margin-left: 0;
    }
  }
}
.auth-nav .link {
  padding: 0;
}
