 .sect {
     padding-top: 94px;
     padding-bottom: 94px;
     background-color: #F5F4FA;
     ;
 }

 .comand .block {
     display: flex;
     justify-content: space-between;
     margin: 0;
     padding: 0;

 }

 .comand-prof {
     padding: 32px 0;
 }

 .border-radius {
     background: #FFFFFF;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;
 }

 .title-name {
     padding: 0;
     margin-bottom: 10px;
     margin-top: 0;
 }