.header-page {
    border-bottom: 1px solid #ECECEC;
}

.header-page .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
.nav-head {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}