.content {
    font-size: 0;
}

.title-name {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.mega-content {

    padding-bottom: 94px;
    padding-top: 94px;
}


.img-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.img-portfolio li {
    margin-right: 30px;
    margin-bottom: 30px;

    & li:hover,
    & li:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}




.img-portfolio :nth-child(3n) {
    margin-right: 0;
}

.img-portfolio :nth-last-child(-n+3) {
    margin-bottom: 0;
}

.port-list a {
    text-decoration: none;
}

.contein-txt {
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;

}

.boldtext {

    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0;

}

img {
    border: none;
}

.txt-title {
    margin: 0;
    margin-top: 4px;
    color: var(--primery-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

.portfolio-block {
    position: relative;
    overflow: hidden;
}

.text-block {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -1px;
    left: 0;
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    background: rgba(33, 150, 243, 0.9);
}

.port-list:hover .text-block,
.port-list:focus .text-block {
    transform: translateY(0);
    bottom: 0;
}