.sect-icon {
    
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f5f4fa;
        margin-bottom: 30px;
        border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;


}

.skils {
    font-size: 0;
}

.section-home {
    padding-top: 60px;
    padding-bottom: 60px;
    // justify-content: space-between;
}

// .title-text {
//     display: flex;
//     justify-content: space-between;
//     margin: 0;
//     padding: 0;
// }
.title-text li {
    max-width: 450px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .title-text {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 30px;
    }

          .title-text li {
        width: 354px;
        margin: 0;
       
    }

    .title-text h3 {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .section-home {
        padding-top: 94px;
        padding-bottom: 94px;
    }

      .title-text {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
      
    }

          .title-text li {
        width: 270px;
    }
}
.title-text  {
    margin: 0;
    padding: 0;
  
}

// .title-text li+li {
//     margin-left: 30px;
// }


.title {
    margin-bottom: 10px;
    color: var(--secondary-color);
//     font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
//     margin-top: 0;

}

// .title-name {
//     color: var(--secondary-color);
//     text-align: center;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 19px;
// }

.text {
    color: var(--primery-color);
font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
 letter-spacing: 0.03em;
//     margin-bottom: 0;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.7;
//     margin-top: 0;

}

// .profess {
//     color: var(--primery-color);
//     text-align: center;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.2;
//     margin-bottom: 16px;
//     margin-top: 0;
// }